.Video_Footer {
  width: 96%;
  color: white;
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.Description_Music {
  display: flex;
  align-items: center;
}

.Description_Music #nameMusic {
  width: 100%;
  overflow: hidden;
}

.Description_Music #nameMusic p{
  animation: nameMusicRunning 5s infinite linear;
}

.Description_Music #diskSpinning {
  animation: diskSpinning 3s infinite linear;
  height: 48px;
  filter: invert(1);
}

@keyframes nameMusicRunning {
  0% { transform: translate(100%); }
  100% { transform: translate(-100%);}
}

@keyframes diskSpinning {
  0% { transform: rotate(0deg); } 
  100% { transform: rotate(360deg); } 
}