.Video_Container {
  height: 100vh;
  max-height: 880px;
  max-width: 440px;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;

  /* Esconde a barra no IE, Edge e Firefox */
  -ms-overflow-style: none;
  scrollbar-width: none;
}
  
/* Esconde a barra no Chrome, Safari e Opera*/
.Video_Container::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 440px) {
  .Video_Container {
    width: 100%;
  }
}